.text {
    color: blue;
    font-size: 20px;
}


body {
    background-color: black;
    margin: 50px;
}


.img {
    width: 50%;
    height: 600px;
    overflow: hidden;
}

.white {
    color: white;
}