.header {
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    background-color: rgb(255, 255, 255);
    position: fixed;
}

.cdk {
  display: flex;
  align-items: center;
  gap: 25px;
}

.cd-logo {
  height: 50px;
}