.products-container {
  font-size: 20px;
  margin-bottom: 20px;
}

.products-list {
  display: flex;
  flex-direction: column;
}

.product-row {
  display: flex;
  align-items: center;
  background: white;
  justify-content: space-between;
}

.productspage {
  margin-top: 100px;
}

.product-row:nth-child(odd) {
  background-color: #ededed;
}

.product-row:nth-child(even) {
  background-color: rgb(255, 255, 255);
}

.product-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.product-name {
  font-weight: bold;
  font-size: 12px;
  width: 300px;
}

.product-stock {
  text-align: center;
  color: #000000;
  font-size:10px;
}

.product-price {
  text-align: center;
  font-weight: bold;
  font-size:14px;
}

.buy-btn {
  color:white;
  height:30px;
  width:70px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right:20px;
}

.buy-btn.inStock {
  background-color: green;
  color: white;
}

.buy-btn.outStock {
  background-color: red;
  color: white;
}

.textfont {
  font-size:14px;
  padding-top:10px;
  padding-bottom: 10px;
  font-weight: bold;
  background-color: rgb(223, 223, 223);
}
